In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [2]:
df1=pd.read_csv("C:\\Users\prath\prathik ranka\python\simple programs\chennai_rate_prediction\chennai property dataset.csv")
df1.head()

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\prath\AppData\Local\Temp\ipykernel_6920\204455690.py:1: SyntaxWarning: invalid escape sequence '\p'
  df1=pd.read_csv("C:\\Users\prath\prathik ranka\python\simple programs\chennai_rate_prediction\chennai property dataset.csv")

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,NaN,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,NaN,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,NaN,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd

In [3]:
df1.shape

(2620, 8)

In [4]:
df2=df1.drop(columns=['status','builder','age'])
df2.head(10)

    price  area  bhk  bathroom       location
0   37.49   872    2       NaN      Sembakkam
1   93.54  1346    3       2.0       Selaiyur
2  151.00  2225    3       NaN      Mogappair
3   49.00  1028    2       2.0       Ambattur
4   42.28   588    2       1.0     Pallavaram
5  188.00  2221    3       3.0  Virugambakkam
6   38.00   885    3       NaN  Thirumazhisai
7   72.99   936    3       NaN     Moolakadai
8  125.00  2275    4       NaN  Ottiyambakkam
9   24.56   622    2       NaN  Perungalathur

In [5]:
df2.isnull().sum()

price          0
area           0
bhk            0
bathroom    1217
location       0
dtype: int64

In [6]:
df2.bathroom=df2.bathroom.fillna(df2.bathroom.median())

In [7]:
df2

       price  area  bhk  bathroom     location
0      37.49   872    2       2.0    Sembakkam
1      93.54  1346    3       2.0     Selaiyur
2     151.00  2225    3       2.0    Mogappair
3      49.00  1028    2       2.0     Ambattur
4      42.28   588    2       1.0   Pallavaram
...      ...   ...  ...       ...          ...
2615   27.50   750    2       2.0  Veppampattu
2616   27.50   750    2       2.0  Veppampattu
2617   30.00   800    2       2.0  Veppampattu
2618   31.50   850    2       2.0  Veppampattu
2619   34.00   900    2       2.0  Veppampattu

[2620 rows x 5 columns]

In [8]:
len(df2.location.unique())

178

In [9]:
df2['bhk'].unique()

array([2, 3, 4, 1, 5, 6, 8], dtype=int64)

In [10]:
dummies=pd.get_dummies(df2.location)
dummies.head(25)

,Adambakam,Adyar,Agaramthen,Alandur,Alwarpet,Ambattur,Ambattur INDUSTRIAL ESTATE,Aminjikarai,Anakaputhur,Anna Nagar,...,Vengaivasal,Vengambakkam,Veppampatttu,Veppampattu,Villivakkam,Virugambakkam,Washermanpet,West Mambalam,West Tambaram,tambaram west
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df3=pd.concat([df2,dummies],axis='columns')
df3

,price,area,bhk,bathroom,location,Adambakam,Adyar,Agaramthen,Alandur,Alwarpet,...,Vengaivasal,Vengambakkam,Veppampatttu,Veppampattu,Villivakkam,Virugambakkam,Washermanpet,West Mambalam,West Tambaram,tambaram west
0,37.49,872,2,2.0,Sembakkam,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,93.54,1346,3,2.0,Selaiyur,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,151.00,2225,3,2.0,Mogappair,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,49.00,1028,2,2.0,Ambattur,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,42.28,588,2,1.0,Pallavaram,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,27.50,750,2,2.0,Veppampattu,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2616,27.50,750,2,2.0,Veppampattu,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2617,30.00,800,2,2.0,Veppampattu,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2618,31.50,850,2,2.0,Veppampattu,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2619,34.00,900,2,2.0,Veppampattu,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [12]:
x=df3.drop(columns=['price','location'])
x.iloc[20]

area              1405
bhk                  3
bathroom           2.0
Adambakam        False
Adyar            False
                 ...
Virugambakkam    False
Washermanpet     False
West Mambalam    False
West Tambaram    False
tambaram west    False
Name: 20, Length: 181, dtype: object

In [13]:
y=df3.price
y.iloc[20]

73.75

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [15]:
from sklearn.linear_model import LinearRegression
Model=LinearRegression()
Model.fit(x_train,y_train)
Model.score(x_train,y_train)

0.9223025397501996

In [16]:
def predict_price(location,area,bhk,bath):
    loc_index=np.where(x.columns==location)[0][0]

    z=np.zeros(len(x.columns))
    z[0]=area
    z[1]=bhk
    z[2]=bath
    if loc_index>=0:
        z[loc_index]=1
    
    return Model.predict([z])[0]

In [17]:
predict_price('Mogappair',2225,3,2)

c:\Users\prath\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

172.91444121478918

In [18]:
predict_price('Veppampattu',1200,3,1)

c:\Users\prath\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

55.11123493654217

In [19]:
import pickle
with open('chennai_home_price _prediction_model.pickle','wb') as f:
    pickle.dump(Model,f)

In [20]:
import json
columns={
    'data_col':[col.lower() for col in x.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))